* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
}
:root {
  --text: #FFF;
  --main: #11C545;
}
.hero, .account-hero {
  height: 100vh;
  width: 100%;
  background-color: #060F16;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}
.account-hero {
  overflow-y: hidden;
}
.main-landing-container, .main-auth-container {
  width: 80%;
  height: 100%;
  display: flex;
}
.main-landing-container { 
  width: 90%;
}
.shadoww {
  height: 1500px;
  height: calc(150% + 2vh);
  width: 700px;
  width: calc(60% + 2vw) ;
  position: absolute;
  filter: blur(300px);
  z-index: 1;
}
.red {
  background: rgba(213, 50, 50, 0.3);
  bottom: -115vh;
  right: -15vh;
}
.blue, .auth-blue {
  background: rgba(17, 66, 241, 0.25);
  top: -145vh;
  left: -15vh;
}
.auth-blue {
  background: rgba(17, 66, 241, 0.35);
}
.blue2 {
  background: rgba(17, 66, 241, 0.35);
  top: -145vh;
  right: -30vh;
}
.blue3 {
  background: rgba(17, 66, 241, 0.25);
  bottom: -150vh;
  right: -15vh;
}
.blue4 {
  background: rgba(17, 66, 241, 0.25);
  bottom: -150vh;
  left: -30vh;
}
.purple {
  background: rgba(190, 54, 254, 0.3);
  bottom: -120vh;
  left: -15vh;
}
.cta-button {
  width: 175px;
  height: 40px;
  border-radius: 8px;
  background: #11C545;
  box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.50) inset;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.focus {
  z-index: 1000;
  opacity: 0.99;
  position: relative;
}
.cta-button h1, .auth-button h2 { 
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 !important;
}
.left-container, .right-container {
  height: 87%;
  width: 40%;
  margin-top: 10vh;
  padding-left: 60px;
}
.left-container .heading {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.left-container h2 {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 2vh 0 6vh 0;
}
.left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.centered-button {
  margin: auto;
  margin-top: -3vh;
}
.notice {
  border-top: 1px solid rgb(137, 117, 117);
  margin-bottom: 1vh;
}
.notice h3 {
  color: rgb(137, 117, 117);
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.card3D {
  transition: 0.4s all;
  transform: scale(0.80);
}

/* AUTH PAGE */
.positioning-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.positioning-div h1 {
  margin-left: 80px;
  cursor: pointer;
  position: relative;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.positioning-div h1:after {
  content: "";
  position: absolute;
  background-color: var(--main);
  height: 2.5px;
  border-radius: 20px;
  width: 0;
  left: 0;
  transition: 0.3s;
  bottom: -1px;
}
.positioning-div h1:hover:after {
  width: 105%;
}
.no-after:hover:after {
  display: none;
}
.auth-button {
  width: 105px;
  height: 40px;
  border-radius: 8px;
  background: #11C545;
  box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.50) inset;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main-stats-container {
  width: 100%;
  height: 300vh;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  /* background-color: #141B1F; */
  border-radius: 12px;
}
.label-container {
  margin-top: 20vh;
  width: 100%;
  /* background-color: #060F16; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vh;
  border-radius: 12px;
}

.outlined-stats-container {
  background-color: #060F16;
  /* background-color: #14222e; */
  height: auto;
  margin-bottom: 2vh;
  width: 100%;
  border-radius: 12px;
}
.overflow {
  overflow: hidden;
}
.username {
  font-family: "Open Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
h1, h2, h3 {
  margin: 0;
}
.bottom-green-border {
  width: 100%;
  border-radius: 20px;
  background-color: var(--main);
  height: 3px;
}
.glassmorphism-test {
  background-color: #16232d;
  height: 60px;
  width: 97%;
  border-radius: 12px;
  margin-top: 2vh;
  margin-left: 1.5%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.topArtists-container {
  width: 47.5%;
  min-height: 30vh;
}
.topArtists {
  width: 100%;
  min-height: 30vh;
  height: auto;
  background-color: #16232d;
  border-radius: 12px;
}
.stat-label {
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 0.5vh;
}
.dashboard-flexbox-container {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5%;
  margin-top: 6vh;
}
.image-carosel {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.image-carosel img {
  border-radius: 12px;
}
.first-image {
  /* 180 old px height*/
  width: 33% !important;
  height: auto !important;
  z-index: 5;
}
.second-image, .third-image {
  /* 162 old px height */
  width: 29%;
  height: auto;
  margin: 0 -2vh;
}
.round {
  border-radius: 50% !important;
}
.img-custom-margin {
  margin: 0 -3vh;
}
.song-component-container {
  display: flex;
  justify-content: start;
}
.genre-container, .album-container {
  min-height: 30vh;
  height: auto;
  width: 47.5%;
}
.genres, .albums {
  background-color: #16232d;
  border-radius: 12px;
  width: 100%;
  min-height: 30vh;
  height: auto;
}

@media screen and (max-width: 1250px) {
  .left-container .heading {
    font-size: 32px;
  } 
  .left-container h2 {
    font-size: 14px;
  }
  .notice h3 {
    font-size: 12px;
  }
}
@media screen and (max-width: 1130px) {
  .left-container .heading {
    font-size: 28px;
  } 
  .left-container h2 {
    font-size: 14px;
  }
  .notice h3 {
    font-size: 12px;
  }
  .card3D {
    transform: scale(0.9);
  }
}
@media screen and (max-width: 1010px) {
  .left-container .heading {
    font-size: 24px;
  } 
  .left-container h2 {
    font-size: 14px;
  }
  .card3D {
    transform: scale(1);
  }
  .blue {
    top: 300px;
  }
  .red {
    top: 300px;
  }
  .purple {
    bottom: 300px;
  }
}
@media screen and (max-width: 900px) {
  .main-landing-container {
    width: 95%;
  }
  .right-container {
    width: 55%;
  }
  .left-container {
    width: 45%;
  }
}
@media screen and (max-width: 700px) {
  .main-landing-container {
    width: 100%;
    justify-content: center;
  }
  .left-container {
    width: 70%;
    padding: 0;
  }
  .right-container {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .left-container {
    width: 80%;
  }
  .blue {
    top: -50px;
  }
  .red {
    top: -50px;
  }
  .purple {
    bottom: -50px;
  }
  .shadow {
    height: calc(160% + 2vh);
    width: calc(80% + 2vw) ;
    position: absolute;
    filter: blur(400px);
  }
  .header-cta {
    width: 120px;
  }
  .header-cta h1 {
    font-size: 12px;
  }
}
@media screen and (max-width: 350px) {
  .left-container {
    width: 85%;
  }
  .left-container .heading {
    font-size: 22px;
  }
  .left-container h2 {
    font-size: 12px
  }
  .logo {
    font-size: 24px !important;
  }
}



/*  LOADING CSS */
.solo-component-genre {
  width: 100%;
}
.add-blur {
  background-color: black;
  filter: blur(20px);
}
.display-none {
  display: none !important;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 500px;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* RESPONSIVNESS DASHBOARD */
@media screen and (max-width: 1200px) {
  .auth-header {
    width: 90% !important;
    margin-left: 5% !important;
  }
  .main-auth-container {
    width: 90%;
  }
}
@media screen and (max-width: 1000px) {
  .bento-box-container {
    width: 40% !important;
  }
  .positioning-div h1 {
    margin-left: 50px;
  }
  .dashboard-flexbox-container {
    flex-direction: column;
  }
  .solo-component, .album-container, .genre-container, .topArtists-container {
    width: 100% !important;
  }
  .flex-wrap-margin {
    margin-top: 50px;
  }
}
@media screen and (max-width: 800px) {
  .positioning-div h1 {
    margin-left: 40px;
    font-size: 14px;
  }
  .label-container {
    padding: 0 10px;
  }
  .bento-box-container {
    width: 50% !important;
  }
}
@media screen and (max-width: 700px) {
  .unverified-cta {
    display: none;
  }
  .label-container {
    flex-direction: column;
    align-items: start;
    height: auto;
    margin-bottom: 1vh;
  }
  .label-container h1 {
    margin-left: 0;
    margin-right: 40px;
  }
  .username {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 450px) {
  .bento-box-container {
    width: 70% !important;
  }
  .label-container-positioning {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: start;
  }
  .label-container h1 {
    margin-top: 20px;
    margin-right: 30px;
  }
  .label-container {
    padding: 0 5px;
  }
}

/* ACCOUNT CSS */ 
.account-left-margin {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.account-margin-bottom {
  margin-bottom: 10px;
}
.account-left-margin h2, .light-grey {
  color: rgba(255, 255, 255, 0.75);
}
.account-left-margin h2, .account-margin-bottom, .light-grey {
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.account-button {
  margin-top: 30px;
  width: 120px;
  color: #7D0A0A;
  color: rgb(220, 220, 220);
  background-color: rgb(38, 38, 38);
  background-color: #271815;
  background-color: #4f1212;
  font-weight: 600;
  box-shadow: none;
}
.footer-div {
  height: 50px;
  width: 100%;
  color: black;
}
.main-account-container {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.account-container {
  height: auto;
  width: 100%;
  background-color: #16232d;
  border-radius: 12px;
  margin-top: 20vh;
  padding: 8px 30px;
}
.account-container h1 {
  font-family: "Open Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.no-margin {
  margin-top: 50px;
}


/* BENTO CSS */
.solo-component {
  width: 75%;
}
.bento-box-container {
  width: 23%;
  height: 500px;
}
.first-box {
  margin-top: 36px;
}
.bento-box {
  width: 100%;
  height: 159px;
  background-color: #16232d;
  border-radius: 12px;
  margin-bottom: 20px;
}

/* BOOTSTRAP CUSTOM CSS */
.btn-secondary {
  background: var(--main);
  z-index: 0;
}
.btn-secondary:hover {
  background-color: #102516;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  background-color: #1ba543;
}
.dropdown-menu {
  background-color: #16232d;
  --bs-dropdown-zindex: 0 !important;
  --bs-dropdown-min-width: 0;
  z-index: 10001;
}
.dropdown-item {
  color: var(--text);
}
.dropdown-item:active {
  background-color: white;
  color: black;
}
.green-bar {
  height: 8px;
  border-radius: 8px;
  background-color: var(--main);
}
.bento-box h1 {
  font-family: "Open Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  cursor: pointer;
  margin-bottom: 24px;
  margin-top: 5px;
}
.bento-box {
  padding: 5px 10px;
}
.bento-box h2 {
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  margin-bottom: 4px;
  margin-right: 10px;
  min-width: 65px;
  display: flex;
  justify-content: end;
}
.bento-positioning {
  display: flex;
  align-items: center;
}
.parent-bar {
  min-width: 100%;
}


.positioning-div h2 {
  cursor: pointer;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.landing-header, .auth-header { 
  height: 9vh;
  width: 80%;
  margin-left: 10%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landing-header {
  width: 90%;
  margin-left: 5%;
}
.logo {
  font-family: "Open Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  cursor: pointer;
  color: white;
}
.green-text {
  color: var(--main);
}

.focus2 {
  z-index: 10000 !important;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-radius: 12px;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .account-container {
    margin-top: 250px;
  }
  .menu-button-container {
    display: flex;
  }
  .menu {
    display: none;
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: -120px;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle:checked ~ .menu {
    border: 1px solid #333;
    width: 150px;
    display: block;
    background-color: black !important;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: 4em;
    width: 150px;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
li {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 400px) {
  .main-account-container {
    width: 95%;
  };
  .account-container {
    padding-left: 20px !important;
  }
}