/* ArtistCard.css */

.artist-card {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 70px;
}

.artist-card h3 { 
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  cursor: pointer;
}
  
.artist-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 1.5vh;
    cursor: pointer;
}

/* ArtistCard.css */

.track-card, .landing-track-card, .genre-card {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100px;
}
.landing-track-card {
  height: 90px;
  background-color: black;
  background-color: #060F16;
}
.landing-track-card p {
  margin-left: 2vh;
}
.track-card img, .landing-track-card img {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    margin: 0 1.5vh;
}

.track-card p, .genre-card p, .artist-card p {
  color: rgba(255, 255, 255, 0.50);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 2vh;
}
  
.track-card-container {
  display: flex;
  justify-content: start;
  align-items: center;
}

.track-card-name-container h2, .genre-card h2 {
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.track-card-name-container h3 {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.60);
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

/* Genre Card */
.genre-card {
  height: 50px;
}
.genre-card h2 {
  margin-left: 2vh;
  font-size: 16px;
}
.genre-card p {
  font-size: 14px;
}