.hero {
  height: 100vh;
  width: 100%;
  background-color: #151517;
}
.main-container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.artist-container, .track-container{
  background-color: #38333a;
  margin-top: 5%;
  /* background-color: #514d52; */
  border-radius: 12px;
  width: 48.5%;
  height: 80%;
}