/* ArtistCard.css */

.track-card {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100px;
}
  
.track-card img {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    margin: 0 1.5vh;
}

.track-card p {
  color: rgba(255, 255, 255, 0.50);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 2vh;
}
  
.track-card-container {
  display: flex;
  justify-content: start;
  align-items: center;
}

.track-card-name-container h2 {
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.track-card-name-container h3 {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.60);
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}